.effect-controls {
  margin: 1em 0;

  & > div {
    text-align: center;
  }

  .btn-default {
    margin: 8px
  }

  .slider {
    margin: 12px 20px;
  }
}

.tilt-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.tilt-gradient-upper, .tilt-gradient-lower {
  position: absolute;
  width: 100%;
  .user-select(none);
}

.tilt-gradient-size, .tilt-gradient-position {
  position: absolute;
  width: 100%;
  height: 50%;
  cursor: row-resize;
}

.tilt-gradient-position {
  border: 2px solid @gray-lighter;

  .tilt-gradient-upper & {
    bottom: 0;
  }

  .tilt-gradient-lower & {
    top: 0;
  }
}

.tilt-gradient-size {
  border: 2px dashed @gray-lighter;

  .tilt-gradient-upper & {
    top: 0;
  }

  .tilt-gradient-lower & {
    bottom: 0;
  }
}

.tilt-center {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid @gray;
  border-radius: 25px;
  cursor: pointer;

  .inner-background {
    position: relative;
    margin: 0;
    width: 46px;
    height: 46px;
    border: 4px solid @gray-lighter;
    border-radius: 23px;
  }

  .inner-border {
    position: relative;
    width: 38px;
    height: 38px;
    border: 2px solid @gray;
    border-radius: 19px;
  }

  .inner-circle {
    position: relative;
    width: 10px;
    height: 10px;
    margin: 12px;
    border-radius: 5px;
    background-color: @gray-lighter;
  }
}
